<!-- views/home.handlebars -->
<html>

<head>
  <title>Travel Blog</title>
</head>

<body>
  <h1>Liam's Travel Blog</h1>
  <p>Welcome to my travel blog!</p>
  <p>Here are some of the places I've been to:</p>
  {{!-- display a list of countries passed from index.js as an array --}}
  <ul>
    {{#each countries}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

  {{!-- paragraph about traveling bali and jakarta --}}
  <p> Most recently I traveled to Bali and Jakarta in Indonesia. Here are some of the things I got up to whilst I was
    there:</p>

  {{!-- make each new place I visit into its own container --}}
  <div class="container-fluid">
    <h2>Seminyak / Kuta</h2>
    <p>Where I stayed: </p>
    <p>What I got up to: </p>
  </div>

  <div class="container-fluid">
    <h2>Ubud</h2>
    <p>Where I stayed: </p>
    <p>What I got up to: </p>
  </div>

  <div class="container-fluid">
    <h2>Uluwatu</h2>
    <p>Where I stayed: </p>
    <p>What I got up to: </p>
  </div>

  <div class="container-fluid">
    <h2>Sidemen</h2>
    <p>Where I stayed: </p>
    <p>What I got up to: </p>
  </div>

  <div class="container-fluid">
    <h2>Nusa Penida</h2>
    <p>Where I stayed: </p>
    <p>What I got up to: </p>
  </div>

  <div class="container-fluid">
    <h2>Jakarta</h2>
    <p>Where I stayed: </p>
    <p>What I got up to: </p>
  </div>

</body>

</html>